@font-face {
    font-family: 'ArchivoBlack-Regular';
    src: url('~@/assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Poppins-Regular';
    src: url('~@/assets/fonts/Poppins-Regular.ttf') format('truetype');
  }